<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BancoDados.Properties.Settings.DbClienteConnectionString"
            connectionString="Data Source=JS04\SQLEXPRESS2017;Initial Catalog=DbCliente;User ID=sa;Password=JSMaringa2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>